html {
    margin: 0 auto;
    max-width: 800px;
}

html.rsvp {
    max-width: 960px;
}

@font-face{
    font-family: "Futura PT Light";
    src: url("../fonts/futura-pt-light.woff");
}

@font-face{
    font-family: "Futura PT Book";
    src: url("../fonts/futura-pt-book.woff2");
}

@font-face{
    font-family: "Futura PT Bold";
    src: url("../fonts/futura-pt-bold.woff2");
}

@font-face{
    font-family: "Didot Italic";
    src: url("../fonts/Didot-HTF-L06-Light-Ital.woff");
}

* {
    background-color: #465246;
    color: #e0e0e0;

    font-family: "Futura PT Light";
    letter-spacing: 0.1em;
    transition: all 0.25s;
}

strong  {
    font-family: "Futura PT Book";
    font-weight: normal;
}

body {
    padding: 0 1em;
}

img {
    max-width: 640px;
    margin: 0 auto;
    display: block;
}

a {
    color: #e0e0e0; 
}

button {
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.25em;
}

ul {
    padding: 0;
}

.mobile {
    display: none;
}




h1 {
    text-align: center;

    font-size: 3em;
    text-transform: uppercase;

    margin-top: 2em;
    margin-bottom: 0.5em;
}


.info {
    text-align: center;

    font-size: 1.25em;
    text-transform: uppercase;

    margin-bottom: 3em;
}

.info span {
    white-space: nowrap;
}




.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.mobile-header h1 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.mobile-header .nav-button {
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 3em;
}

.nav ul {
    margin-top: 0.8em;
}

.nav li {
    display: inline-block;
    margin-right: 0.6em;
    margin-bottom: 1em;
}

.nav li a {
    padding: 0 0.25em;

    border-bottom: 1px solid #465246;

    text-decoration: none;
}

.nav li.active a {
    border-bottom-color: #e0e0e0; 
}

.nav li a:hover {
    border-bottom-color: #e0e0e0;
}

@media screen and (max-width: 600px) {
    .mobile {
        display: block;
    }

    .mobile-header {
        z-index: 999;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;

        z-index: 999;
        
        width: 100%;
    }

    .nav.closed {
        display: none;
    }
    
    .nav .close {
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav li {
        display: block;
        margin-right: 0;
    }
}






.content {
}

.content h2 {
    text-align: center;
    margin-top: 3em;

    text-transform: uppercase;
    
    font-size: 1.5em;
}

.content h3 {
    text-align: center;
    font-size: 1.5em;

    margin-top: 3em;
}

.content h2 + h3 {
    margin-top: 1em;
}

.content img {
    width: 100%;
}

.content .caption {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.content .center {
    text-align: center;
}

.content ul {
    margin-top: -0.5em;
    margin-left: 1em;
}

.content li {
    margin-bottom: 0.75em;
}

.content .button {
    margin: 3em 0;
    text-align: center;
}

.content .button a {
    padding: 0.75em 2em;

    background-color: #e0e0e0;
    color: #465246;
    text-transform: uppercase;
    text-decoration: none;
}




.timeline .event {
    display: flex;
    position: relative;
}

.timeline .event .container {
    width: 50%;
    padding: 2em;
    display: flex;
    align-items: center;
}


.timeline .event .date {
    text-transform: uppercase;
    font-size: 1.25em;
}


@media screen and (min-width: 601px) {
    .timeline .event .container:first-child {
        order: 1;
    }

    .timeline .event .container:last-child {
        order: 0;
    }

    .timeline .event:nth-child(even) .container:first-child, .timeline .event:nth-child(odd) .container:last-child {
        border-right: 1px dashed #e0e0e0;
    }

    .timeline .event:nth-child(even) .container:first-child:after, .timeline .event:nth-child(odd) .container:last-child::after {
        content: "";
        background-color: #e0e0e0;

        border: 0.5em solid #465245;
        border-radius: 1em;
        
        position: absolute;
        
        width: 0.5em;
        height: 0.5em;

        left: 50%;
        top: 50%;

        transform: translate(-0.75em, -0.5em);
    }

    .timeline .event:nth-child(even) .container:first-child {
        order: 0;
    }

    .timeline .event:nth-child(even) .container:last-child {
        order: 1;
    }
}


@media screen and (max-width: 600px) {
    .timeline {
        margin-top: 6em;
    }

    .timeline .event {
        flex-direction: column;
        margin-top: 5em;
    }
    
    .timeline .event .container {
        width: 100%;
        padding: 0;
        margin-top: 1em;
        border: none;
    }

    .timeline .event:after {
        position: absolute;

        content: "";
        border-left: 1px dashed #e0e0e0;

        height: 3em;
        
        left: 50%;
        top: -4em;
    }
}

table.schedule {
    margin: 2em 0 1em 0;
}

table.schedule td {
    vertical-align: top;
    padding: 0 0 1em 0;
}

table.schedule td:first-child {
    padding-right: 1em;
}

table.schedule td img {
    margin: 1em 0 0 0;
}




.footer {
    margin: 3em auto;
    padding-top: 1em;

    width: 10em;

    border-top: 1px solid #e0e0e0;
    font-size: 2em;
    text-align: center;
}




.rsvp .nav, .rsvp .nav ul {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .rsvp .info {
        margin-bottom: 0;
    }
}